#BarNav {
    background-color: #5DD3B6;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#MenuBt {
    display:none;
    background-color: #6E5034;
    color: #ffffff;
    border: 0px;
    height: 50px;
    width: 100px;
    font-size: 30px;
}

#MenuBt:hover {
    background-color: #8a5c32;
}

#MenuBt:active {
    background-color: #b1651d;
}

.navegacion{
    background-color: #6E5034;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

.navegacion:hover{
    background-color: #704c2b;
    padding: 11px 21px;
}

@media (max-width: 600px) {
    #BarNav {
        flex-direction: column;
        display: flex;
    }
   
    .visible {
        display: none;
    }
   
    #MenuBt {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
        
    .navegacion {
        margin: 5px;
    }
}