body {
    margin: 0;
    padding: 0;
    
}
#cajaDeTexto{
    margin: auto;
}
.cuadroDeTexto {
    background-color: white;
    height: 100px;
    width: 100px;
    position: relative;
    justify-content:center;
    align-items: end;
    display: flex;
}

#imagenFondo {
    position: absolute;
    width: 1521px;
    /* height: 65050; */
    margin: 0;
    background-size: cover;
    align-items: flex-end   ;
}